@{
    ViewBag.Title = "Изменение пароля";
}

@using (Html.BeginForm("ChangePasswordConfirm", "Login", FormMethod.Post))
{
<table>
    <tr>
        <td>Логин*:</td>
        <td><input type="text" readonly="readonly" value="@Authentication.User.UserLogin" class="ReadonlyField" /></td>
    </tr>
    <tr>
        <td>ФИО*:</td>
        <td><input type="text" readonly="readonly" value="@Authentication.User.UserName" class="ReadonlyField"></td>
    </tr>
    <tr>
        <td>Старый пароль*:</td>
        <td><input type="password" name="OldPassword" /></td>
    </tr>
    <tr>
        <td>Новый пароль*:</td>
        <td><input type="password" name="NewPassword" /></td>
    </tr>
    <tr>
        <td>Подтверждение пароля*:</td>
        <td><input type="password" name="NewPasswordConfirm" /> </td>
    </tr>
    <tr>
        <td align="right" colspan="2" style="padding-top: 16px;">
            <input type="submit" value="Изменить пароль" />
            <input type="button" value="Отмена" onclick="window.location='@(Url.Action("Index", "Home"))'" />
        </td>
    </tr>
</table>
}